.productList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.productList--dark .category__filterOptions {
  color: #fff;
  background: #333;
  border: 1px solid rgb(24, 23, 23);
}

.productList--dark .category__filterOptions button {
  color: #fff;
  background: #0c78d1;
}

.productList__ad {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.productList__ad > img {
  height: 200px;
  width: 33%;
  flex: 1;
  margin: 0 10px;
  object-fit: fill;
}

.productList__container {
  width: 95vw;
}
